<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Group Chat</title>
  <link rel="stylesheet" th:href="@{css/group-chat.css}">
</head>
<body>
<div class="header">
  <h2>Group Chat</h2>
  <div id="chatInfo"></div>
</div>

<div id="chat">
  <div id="messages"></div>
  <div id="typingStatus"></div>
  <div class="input-container">
    <input type="text" id="msgInput" placeholder="Type a message..." disabled>
    <button onclick="sendMessage()">Send</button>
  </div>
</div>

<script th:src="@{js/presence.js}"></script> <!-- Global Ping Socket -->
<script th:src="@{js/group-chat.js}"></script>

</body>
</html>